
body{
    background: #f0f2f1;

}

.titulo{
    padding-top: 80px;
    font-size: 44px;
}

.descripcion{

    font-size: 18px;
    text-align: center;
}
.tabla-cabeza{
    background:#fff;
}

.btnagragarUsuarioS{
    margin-bottom: 30px;
}
.imagenTitulo{
    display: inline-block;
    margin-top: 80px;
    margin-left: 80px;
    margin-bottom: 20px;
}
.tablaEdicion{
    margin-top: 40px;
}

.main-footer{
    margin-top: 20px;

}